body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  overflow: hidden !important;
}
.control {
  width: 80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
h1 {
  text-align: center;
  transform: rotate(-90deg);
  color: white;
  font-size: 3rem;
}
.wrapperButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
button {
  transform: rotate(-90deg);
  width: 6rem;
  height: 6rem;
  border: none;
  border-radius: 1rem;
  background-color: #411530;
  text-align: center;
}
.buttonMove {
  font-size: 4rem;
  color: white;
}
.buttonMove:hover {
  transform: rotate(-90deg) scale(0.8);
}
.ButtonShoot {
  width: 6rem;
  height: 6rem;
  background-color: #411530;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.ButtonShoot .gun {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ButtonShoot:hover {
  cursor: pointer;
  transform: scale(0.8);
}
@media (min-width: 540px) {
  .control {
    grid-template-columns: unset;
    min-height: unset;
    height: 20rem;
    grid-template-rows: 1fr 2fr;
  }
  h1 {
    transform: unset;
    margin: 2rem 0;
  }
  .wrapperButtons {
    width: unset;
    height: unset;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .buttonMove:hover {
    transform: scale(0.8);
  }
  button {
    transform: unset;
  }
}
